<%= form_for setting do |f| %>
  <div class="form-group">
    <%= label setting, :link_text %>
    <%= f.text_field :link_text, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label setting, :thumbnails %>
    <%= f.check_box :thumbnails, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label setting, :thumbnail_url %>
    <%= f.url_field :thumbnail_url, class: 'form-control' %>
  </div>
  <%= f.submit %>
<% end %>
