<%= form_for (@project ? [@project, @finding_aid] : @finding_aid) do |f| %>
  <%= f.error_messages %>

  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">EAD Source</h3></div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :uploaded_ead, 'EAD File' %>
        <%= f.file_field :uploaded_ead %>
        <span class="help-block">
          Upload an EAD file from your local machine.
        </span>
      </div>
      <p class="text-center text-uppercase"><strong>or</strong></p>
      <div class="form-group">
        <%= label @finding_aid, :url, 'URL' %>
        <%= f.url_field :url, class: 'form-control' %>
        <span class="help-block">
          The persistent URL to the finding aid. These typically start with "nrs.harvard.edu".
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.fields_for :setting_attributes, @finding_aid.setting do |setting_f| %>
      <%= setting_f.label :owner_code, 'Owner Code' %>
      <%= setting_f.text_field :owner_code, class: 'form-control' %>
      <span class="help-block">
        What is the owner code for this finding aid? Leave this blank if you want it to be pulled from the URL.
      </span>
    <% end %>
  </div>
  <div class="form-group">
    <%= label @finding_aid, :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <% if params[:action] == 'new' %>
      <span class="help-block">
        What would you like this finding aid to be called in Link-o-matic? Leave the name blank to have it pulled from the finding aid.
      </span>
    <% end %>
  </div>

  <%= f.submit 'Load Finding Aid', class: 'btn btn-primary' %>
<% end %>
