<div class="project panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= project.name %>
      <small>
        <%= link_to 'Delete', project_path(project),
          method: :delete,
          data: { confirm: 'Are you sure you want to remove this project and all its finding aids?' } %>
      </small>
    </h2>
  </div>
  <div class="panel-body">
    <div class="finding-aids">
      <h3>Finding Aids</h3>
      <ul>
        <% project.finding_aids.order(:created_at).each do |finding_aid| %>
          <li>
          <%= link_to finding_aid.name, edit_finding_aid_path(finding_aid) %>
          <%= link_to finding_aid_path(finding_aid),
            method: :delete,
            data: { confirm: 'Are you sure you want to remove this finding aid?' } do %>
            <span class="remove glyphicon glyphicon-remove"></span>
          <% end %>
          </li>
      <% end %>
      </ul>
      <div class="center-block">
        <%= link_to 'Load New Finding Aid',
          new_project_finding_aid_path(project),
          class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="settings">
      <h3>Settings
        <small> <%= link_to 'Edit', edit_project_path(project) %> </small>
      </h3>
      <%= render partial: 'settings/setting', object: project.settings %>
    </div>
  </div>
</div>
