<% if digitization.settings['thumbnails'] && digitization.settings['thumbnail_url'] %>
<daogrp xlink:type="extended" xmlns:xlink="http://www.w3.org/1999/xlink">
  <resource xlink:label="start" xlink:type="resource"/>
  <daoloc xlink:href="<%= digitization.settings['thumbnail_url'] %>" xlink:label="resource-1" xlink:type="locator"/>
  <arc xlink:from="start" xlink:show="embed" xlink:to="resource-1" xlink:type="arc"/>
  <daoloc xlink:href="<%= digitization.url %>" xlink:label="resource-2" xlink:type="locator">
    <daodesc>
      <p><%= digitization.settings['link_text'] %></p>
    </daodesc>
  </daoloc>
  <arc xlink:from="start" xlink:show="new" xlink:to="resource-2" xlink:type="arc"/>
</daogrp>
<% else %>
<dao xlink:actuate="onRequest" xlink:href="<%= digitization.url %>" xlink:show="new" xlink:type="simple" xmlns:xlink="http://www.w3.org/1999/xlink">
  <daodesc>
      <p><%= digitization.settings['link_text'] %></p>
  </daodesc>
</dao>
<% end %>

